body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(0, 255, 242),rgb(13, 166, 255));
    font-family: 'Nunito', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 255, 213),rgb(0, 255, 242));
}

    .navbar a {
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
    }

.dropdown {
    float:left;
    text-align:center;
    overflow: hidden;
    font-weight: bold;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        background-color: inherit;
        font-weight: bold;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        text-decoration: underline;
        background-color: #73a7fa;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #73a7fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: whitesmoke;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #bff1ff;
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

legend{
    font-weight: bold;
}
fieldset{
    border-radius: 8px;
    border-color: crimson;
    margin: 5px;
}

input[type=date],input[type=text],select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 18px;
}
input[type=submit] {
    margin: 12px 0;    
    background-image: linear-gradient(45deg, rgb(111, 0, 255),rgb(0, 137, 190));
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    border-radius: 16px;
}

    input[type=submit]:hover {
        background-image: linear-gradient(rgb(0, 137, 190),rgb(111, 0, 255));
    }

    table {
        border-collapse: collapse;
        width: auto;
        min-width: 250px;
        border-color: black;
        border: 2px solid black;
        
      }
      
      th, td {
        text-align: center;
        padding: 8px;
        border: 2px solid black;
      }
      
      tr:nth-child(even){
          background-color: #00000049;
        }
      
      th {
        background-color: #17fc02;
        color: rgb(0, 0, 0);
      }
